section
{
  margin: 15px;
  border: solid;
  border-radius: 50px;
  float:left;
}

#yksi
{
  background-color: red;
  padding: 15px;
}
#kaksi
{
  background-color: green;
  padding: 15px;
}
#kolme
{
  background-color: orange;
  padding: 15px;
}
#nelja
{
  background-color: yellow;
  padding: 15px;
}
#viisi
{
  background-color: lightblue;
  padding: 15px;
}
#kuusi
{
  background-color: silver;
  padding: 15px;
}
#seiska
{
  background-color: pink;
  padding: 15px;
}
#kasi
{
  background-color: lightgreen;
  padding: 15px;
}
#ysi
{
  background-color: crimson;
  padding: 15px;
}
#kymppi
{
  background-color: olive;
  padding: 15px;
}
#yksitoista
{
  background-color: gold;
  padding: 15px;
}

p, h1, button, select
{
  margin-left: 20px;
  font-weight: bold;
}
